.main__bg {
  background-image: url(../img/bullvsgirl.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40%;
  border-bottom: 20px solid white;
}

.headline {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

.headline-paragrah {
	margin: 20px;
	text-align: center;
}