/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

@import "bootstrap-variables.sass";
@import "../../vendor/bootstrap/stylesheets/bootstrap";


* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height:100%;
	background: black;
	font-family: 'Open Sans', sans-serif;
}

.main__bg {
  background-image: url(../img/bullvsgirl.jpg);
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 20%;
  border-bottom: 5px solid white;
}

.headline {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	// text-decoration: underline;
}

.headline-paragrah {
	margin: 20px;
	text-align: center;

}

.nav {
	display: none;
}

.bull,
.girl {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: #BF0500;

  .bull-name,
  .girl-name {
	font-family: 'Permanent Marker', cursive;

  }

  .bull-img,
  .girl-img {
  	width: 90%;

	height: auto;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 20px;
  }

  .bull-paragraph,
  .girl-paragraph {
  	width: 80%;
  	margin: 20px;
  	border: 2px solid red;
  	padding: 10px;
  	text-align: center;
  }

  .bull-content-module,
  .girl-content-module {
  	display: inline-block;
  	position: relative;


  	.content-module-headline {
		font-family: 'Permanent Marker', cursive;
		text-align: center;
		margin-bottom: 20px;
  	}
  }
}

.fact {
	height: 350px;
	position: relative;
	width: 350px;
	display: flex;
	margin-top: 50px;
	border: 2px solid white;
	line-height: 100px;
	font-size: 1.2em;


  	.fun-fact,
  	.fun-fact-flipped {
  		backface-visibility: hidden;
  		border: 1px solid red;
  		height: 100%;
  		left: 0;
  		position: absolute;
  		top: 0;
  		text-align: center;
	    -webkit-transform: rotateY(0deg);
	    transition: 0.2s;
	    width: 100%;
	    padding-top: 50px;
  	}
	
	.fun-fact {
		background-color: red;
		z-index: 9999;
	}

	.fun-fact-flipped {
		background-color: green;
	    -webkit-transform: rotateY(-180deg);
	    z-index: 500;
	}

	&.flipped {
    	// -webkit-transform: rotateY(-180deg);
    	-webkit-transform: rotateY(-180deg);
	}

}



/* 2. Content ================================= */

@media screen and (min-width: 480px) {

	.main__bg {
		height: 40%;
	}

	.nav {
		display: flex;
		justify-content: space-around;
	}

	.bull-img {
		height: 60%;
	}
}


@media screen and (min-width: 768px) {

	.main__bg {
		height: 80%;
	}



	.bull-img,
 	.girl-img {
	  	// width: 90%;
		max-width: 50%;
		height: auto;
		background-size: cover;
		background-position: center;
		position: relative;
	}
}

@media screen and (min-width: 1024px) {

	.main__bg {
		height: 100%;
	}

	.headline {
	position: absolute;
	top: 5%;
	left: 5%;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	// text-decoration: underline;
	}

	// .middle-part {
	// 	display: flex;
	// 	flex-direction: row;
	//   	align-items: center;
	// }

}









