/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

@import "media-quries";
@import "hero";
@import "bull-girl";
@import "content-module";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height:100%;
	background: black;
	font-family: 'Open Sans', sans-serif;
}












